
.info {
  background: #fae3e3
}

body {  
  font-family: 'Mr Dafoe', cursive;
}

.primary-color {
  color: #e05263
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 2s ease-in-out;
}
.info a:hover {
  color: #69a2b0;
}

/*#### Header ####*/

#header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/banner-bkg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.main-btn {
  color: #e05263;
  font-size 2rem; 
  border: 2px solid #e05263;
  transition: all is ease-in-out;
}