
.info {
  background: #ffcab1;
}

body {  
  font-family: 'Mr Dafoe', cursive;
}

.primary-color {
  color: #e05263;  
}

.dotted-border {
  border-top: 6px dotted #ffcab1;
  border-bottom: 6px dotted #ffcab1;
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 2s ease-in-out;
}
.info a:hover {
  color: #2F2377;
}

/*#### Header ####*/

#header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/banner-bkg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;    
}

@keyframes fromLeft {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  50%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }

}

.main-btn {
  color: #e05263;
  font-size: 2rem; 
  border: 2px solid #e05263;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: #e05263;
  border: 2px solid #ffcab1;
  background: #ffcab1;
}

.sushi-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromRight {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  50%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }

}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 2%;
  left: 50%;
  background: #e05263;
  border-radius: 10px;
  transition: all 2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

.header-link {
  color: #ffcab1;
}
@keyframes fromBottom {
  0%{
  transform: translateY(-10px);
  }
50% {
  transform: translateY(10px);
  }
100% {
  transform: translateY(-10px);
  }
}

.header-link:hover {
  color: #e05263;
  border: 2px solid #ffcab1;
  background: #ffcab1;
}

.order-here {
  font-size: 2rem;
}

/*** Menu Items ***/

#special-items {
  background: #ffcab1
}

.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(224, 82, 99),rgb(224, 82, 99));
  transition: all 2s
}

.item-img {
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #e05263;
  font-size: 2rem;
  border-top: 3px solid #e05263;
  border-bottom: 3px solid #e05263;
  transition: all 2s ease;
  /*opacity: 0;*/
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover {
  color: #ffcab1;
  border: 3px solid #ffcab1;
  background: #ffcab1;
  color: #e05263;
}
.item-container:hover {
  outline: 10px solid #e05263;
  outline-offset: 0.8rem;
}

/***Menu***/

#menu {
  background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),
  url(../img/banner.jpg)center/cover fixed no-repeat;
}

.special {
  border: 3px solid #e05263;
  position: relative;
}

.special-text {
  position: absolute;
  top: 0;
  right: 10%;
  background: #e05263;
  padding: 0 0.4rem;
}

/***About***/

#about {
  background: #ffcab1;
}

.about-pictures {
  position: relative;
}

.about-image {
  position: absolute;
  width: 150px;
  transition: all 2s ease;
  opacity: 0.9;
}

.img-1 {
  left: 0%;
  top: 0%;
}

.img-2 {
  left: 20%;
  top: 20%;
  z-index: 10;
}

.img-3 {
  left: 40%;
  top: 45%;
  z-index: 20;
}

.img-4 {
  left: 40%;
  top: 0%; 
}

.img-5 {
  left: 0%;
  top: 45%;
}

.about-image:hover {
  outline: 10px solid #e05263;
  outline-offset: 0.8 rem;
  transform: scale(1.3) rotate(10deg);
  z-index: 30;
  opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
  opacity: 0.5;
}

/*****review*****/

.carousel {
  background-color: #DF928E;
}

.review-item {
  background: rgba(255,255,255,0.7);
  clip-path: polygon(5% 0%, 100% 0, 90% 100%, 0 100%);
}

.review-img {
  width: 150px;
}

/***team***/

.team-icons a {
  color: #e05263;
  transition: all 2s ease-in-out;
}

.team-icons a:hover {
  color: rgb(114, 113, 113);
  transform: translateY(-5px);
}

#team {
  background-color: #ffcab1;
}

/*****contact*****/

.height-60 {
  min-height: 60vh;  
}

.embed-responsive-21by9::before {
  padding-top: 18px;
}

#contact .card {
  background:#ffcab1;
  transition: all 2s ease;
}

#contact .card:hover {
  background: #DF928E;
}

